{% extends "login.html" %}
{% load static %}
{% block title %}Health - Create Account{% endblock %}
{% block title2 %}Create Account{% endblock %}
{% block content %}
    <form action="{% url 'Create' %}" method="post" class="flex flex-col justify-center items-center h-[100%] mt-20 w-full">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="user" class="anim inp bg-white w-[55%] h-10 rounded-xl p-4 outline-none border-none" maxlength="26" minlength="8" required>
        <input type="email" id="email" placeholder="Email Address" name="email" class="anim inp bg-white mt-6 w-[55%] h-10 rounded-xl p-4 outline-none border-none" required>
        <input type="password" id="pass" placeholder="Password" name="pass" class="anim inp bg-white mt-6 w-[55%] h-10 rounded-xl p-4 outline-none border-none" maxlength="26" minlength="8" required>
        <input id="sub" value="Create" type="submit" class="anim h-11 w-36 bg-white text-black text-xl mt-7 rounded-xl select-none">
        <div class="flex flex-row w-full justify-center items-end mt-30 gap-4">
            <button type="button" id="btn" class="anim h-11 w-28 bg-black text-white text-xl rounded-xl select-none" data-create-url="{% url 'Create' %}">Sign Up</button>
            <button type="button" id="btn2" class="anim h-10 w-28 bg-white text-black text-xl rounded-xl select-none" data-login-url="{% url 'Login' %}">Login</button>
        </div>
    </form>
{% endblock %}